@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 12vh;
  background-color: transparent;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 1000;
}

#sticky-nav.sticky {
  background: #fff;
  min-height: 8vh;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo h4 {
  font-size: 2rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.2rem;
}

#sticky-nav.sticky .logo,
#sticky-nav.sticky ul li a {
  color: #111;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar2 {
  opacity: 0;
}

.toggle .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -6px);
          transform: rotate(45deg) translate(-7px, -6px);
}

/*Home page*/
/*Hero Section*/
#hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  mix-blend-mode: overlay;
  background-color: #3eb1fa;
}

.hero-container {
  position: relative;
  height: inherit;
  width: inherit;
  position: relative;
}

.hero-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -5;
  opacity: 0.6;
}

.hero-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  color: #fff;
}

.hero-text-content {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

#grid {
  height: 200vh;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    min-height: 8vh;
    background-color: #212121;
    z-index: 1000;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 7vh;
    width: 50%;
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger div {
    background-color: #fff;
  }
  .logo {
    color: #fff;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=styles.css.map */