@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

// Sass Variables
$white: #fff;
$black: #000;
$rum-purple: #746685;
$pampas: #f4f4ed;

// Nav Code Starts Here
// Desktop Nav
#desktop-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 1rem 2rem;
  z-index: 100;
}

#desktop-nav .logo,
#desktop-nav.sticky ul li a {
  color: $black;
}

#desktop-nav .logo {
  position: relative;
  font-weight: 800;
  color: $white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

#desktop-nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

#desktop-nav ul li {
  position: relative;
  list-style: none;
}

#desktop-nav ul li a {
  position: relative;
  margin: 0 0.6rem;
  text-decoration: none;
  color: $white;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.6s;
}

#mobile-nav {
  display: none;
  position: fixed;
  z-index: 10;
  padding: 2%;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#mobile-nav .toggle-menu.bars i {
  font-size: 4rem;
  //right: -50%;
  position: relative;
}

#mobile-nav #mobile-times {
  display: none;
}

#mobile-nav .toggle-menu.times i {
  font-size: 4rem;
  //right: -50%;
  position: relative;
}

#content {
  display: flex;
  position: absolute;
  right: 0;
  width: 100%;
}

#hero {
  display: flex;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: grey;
  z-index: 2;
  position: absolute;
  right: 0;
  width: 100%;
}

//Code for the menu
#content.active {
  right: 80%;
}

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
}

#side-menu ul {
  position: relative;
  list-style: none;
  background: #007fff;
  background: -webkit-linear-gradient(
    to right,
    #007fff 14%,
    #6cb4ee 59%,
    #00ffff 100%
  );
  background: -moz-linear-gradient(
    to right,
    #007fff 14%,
    #6cb4ee 59%,
    #00ffff 100%
  );
  background: linear-gradient(to right, #007fff 14%, #6cb4ee 59%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#side-menu ul li {
  margin: 10% 0;
  align-items: center;
  text-align: center;
}

#side-menu ul li a {
  text-decoration: none;
  color: $white;
  font-size: 3rem;
}

#hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

#hero .hero-text {
  position: relative;
  z-index: 10;
}

.hero-text h2 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.3em;
  text-transform: uppercase;
}

.hero-text h3 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.3em;
  text-transform: uppercase;
}

.hero-text p {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  font-weight: 400;
  max-width: 700px;
}

.hero-text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.hero-text a:hover {
  letter-spacing: 6px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #61aad8;
  // background: #9db0c1;
  mix-blend-mode: overlay;
}

/*Media Queries*/

/*Index Page Media Queries*/
@media only screen and (max-width: 600px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
  }

  .hero-text {
    padding-top: 5%;
  }

  .hero-text h2 {
    font-size: 5rem;
  }

  .hero-text h3 {
    font-size: 4rem;
  }
}
