@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

//Sass Variables
//Colors
$white: #fff;
$black: #111;
$dark-grey: #212121;
$havelock-blue: #61aad8;

$bold: 500;
$thin: 300;

// Z indexes
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: transparent;
  transition: 0.6s;
  z-index: 1000;
}

#sticky-nav.sticky {
  background: $white;
  min-height: 8vh;
}

.logo {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 5px;

  h4 {
    font-size: 2rem;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: $white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: $bold;
  font-size: 1.2rem;
}
#sticky-nav.sticky .logo,
#sticky-nav.sticky ul li a {
  color: $black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 35px;
  height: 3px;
  background-color: $white;
  margin: 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.toggle .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar2 {
  opacity: 0;
}

.toggle .bar3 {
  transform: rotate(45deg) translate(-7px, -6px);
}

/*Home page*/
/*Hero Section*/
#hero {
  width: 100%;
  min-height: 100vh;
  //display: flex;
  position: relative;
  mix-blend-mode: overlay;
  background-color: #3eb1fa;
}

.hero-container {
  position: relative;
  height: inherit;
  width: inherit;
  position: relative;
  // background-color: $havelock-blue;
  // mix-blend-mode: overlay;
}

.hero-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100vh;
  object-fit: cover;
  z-index: -5;
  opacity: 0.6;
}

.hero-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  color: $white;
}

.hero-text-content {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

#grid {
  height: 200vh;
}

// Media Queries
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    min-height: 8vh;
    background-color: $dark-grey;
    z-index: 1000;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 7vh;
    width: 50%;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(101%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger div {
    background-color: $white;
  }

  .logo {
    color: $white;
  }

  .nav-active {
    transform: translateX(0%);
  }
}

// Keyframes
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
